* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
.form__container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 100px;

}

.input__todo {
    padding: .5rem;
    outline: none;
    border-color: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.6s ease-in-out;
    width: 250px;
}
.input__todo:focus {
    outline-color: transparent;
    border-bottom: #b30059 solid;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.button__task {
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
    width: 150px;;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;
    flex-direction: column;
}

.todos {
    
    padding: 1rem;
    margin: 0 auto;
    align-items: center;
list-style: none;

}

.todos > li {
    font-size: 1.5rem;
    text-align: center;
}

.todo__btn {
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
    width: 100px;;
}

#error__message {
    font-size: 1rem;
    font-weight: bold;
    color: red;
}